{% extends "./user_base.html" %}

{% block title %}
  Currents
{% endblock %}


{% block content %}
<style>
    h1 {text-align: center;}
    .container {
        height: 200px;
        position: relative;
        }

    .center {
        position: absolute;
        top: 150%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
}

.h1
{
  position: absolute;
  top: 40%;
   left: 50%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}
</style>

  <h1 class="h1">Subscribe For Personilized Content</h1>

  <ul>
    <div class="container">
        <div class="center">
         <form class="form-inline">
            <button class="btn" type="submit"><a href="/subscribe">Subscribe Now</button>
         </form>
        </div>
    </div>
  </ul>
{% endblock %}
