{% extends "./base.html" %}

{% block title %}
  Currents
{% endblock %}


{% block content %}
<style>                
div.scroll {
  overflow: auto;
}

</style>

  <h1>Today's Briefing....</br></h1>
  <div class="scroll">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">news1</h5>
          <p class="card-text">fetch news</p>
          <a href="#" class="btn btn-primary">read more</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">news2</h5>
          <p class="card-text">fetch news</p>
          <a href="#" class="btn btn-primary">read more</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">news3</h5>
          <p class="card-text">fetch news</p>
          <a href="#" class="btn btn-primary">read more</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">news4</h5>
          <p class="card-text">fetch news</p>
          <a href="#" class="btn btn-primary">read more</a>
        </div>
      </div>
    </div>
  </div>
  </div>


  <h2>Category 1</h2>
  
  <div class="scroll">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">news1</h5>
          <p class="card-text">fetch news</p>
          <a href="#" class="btn btn-primary">read more</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">news2</h5>
          <p class="card-text">fetch news</p>
          <a href="#" class="btn btn-primary">read more</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">news3</h5>
          <p class="card-text">fetch news</p>
          <a href="#" class="btn btn-primary">read more</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">news4</h5>
          <p class="card-text">fetch news</p>
          <a href="#" class="btn btn-primary">read more</a>
        </div>
      </div>
    </div>
  </div>
  </div>

    <h2>Category 2</h2>
    <div class="scroll">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">news1</h5>
          <p class="card-text">fetch news</p>
          <a href="#" class="btn btn-primary">read more</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">news2</h5>
          <p class="card-text">fetch news</p>
          <a href="#" class="btn btn-primary">read more</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">news3</h5>
          <p class="card-text">fetch news</p>
          <a href="#" class="btn btn-primary">read more</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">news4</h5>
          <p class="card-text">fetch news</p>
          <a href="#" class="btn btn-primary">read more</a>
        </div>
      </div>
    </div>
    </div>
    </div>

{% endblock %}
