{% extends "./index_base.html" %}
{% load static %}
{% block title %}
  Login
{% endblock %}

{% block content %}

<style>

  .form-control-lg{
    border-radius: 25px;
    padding: 20px; 
    width: 400px;
    height: 15px;   
  }

  .text{
  background: url(klematis.jpg) repeat;
  border: 2px solid black;
}

.text {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
}

.text p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
</style>
 
<section style="padding-top: 100px" style="padding-bottom: 100px">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form name="myform" method="POST">

            <div class="divider d-flex justify-content-center my-3">
              <p class="text-center fw-bold mx-10 mb-0" style="font-weight: bold; font-size: 30px;">Login</p>
            </div>

            <div class="form-outline mb-2">
              <label class="form-label text-muted" for="uname">Username</label>
              <input type="text" id="text" name="uname" class="form-control form-control-lg"  /> 
            </div>
          
            <div class="form-outline mb-3">
              <label class="form-label text-muted" for="password">Password</label>
              <input type="password" id="text" name="password"  class="form-control form-control-lg" />
            </div>

              <p style="font-weight: bold"> Don't have an account? <a href="/register" >Register here</a></p>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <input type="submit" name="Submit" class="btn" style="padding-left: 2.5rem; padding-right: 2.5rem;" value="Login">
            </div>
            
          </form>
        </div>
      </div>
    </div>
   
  </section>
</html>  
{% endblock %}
