{% extends "./index_base.html" %}
{% load static %}

{% block title %}
  Currents
{% endblock %}


{% block content %}

        <div class="p-3 py-5">
            <div class="d-flex justify-content-left align-items-center mb-3">
                <h4 class="text" style="font-weight: bold">Profile</h4>
            </div>
            <div class="row mt-2">
                <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" value=""></div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6"><label class="labels">Mobile Number</label><input type="text" class="form-control" value=""></div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6"><label class="labels">Email ID</label><input type="text" class="form-control" value=""></div>
            </div>
            <div class="mt-5 text-center"><button class="btn" type="button">Save Profile</button></div>
        </div>
{% endblock %}
