asgiref==3.6.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2022.12.7
charset-normalizer==2.0.12
Django==4.1.6
dnspython==1.16.0
feedparser==6.0.10
gnews==0.2.7
idna==3.4
pymongo==3.12.3
python-dotenv==0.19.2
requests==2.26.0
sgmllib3k==1.0.0
soupsieve==2.3.2.post1
sqlparse==0.4.3
urllib3==1.26.14
