{% extends "./user_base.html" %}
{% load custom_tags %}
{% load static %}
{% block title %}
Currents
{% endblock %}


{% block content %}
<style>
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }

</style>

<div class="pagetitle pt-3">
  <nav style="background-color: #212121;">
    <ol class="breadcrumb" style="background-color: #212121;">
      <li class="breadcrumb-item h5 text-secondary"><a>News</a></li>
      <li class="breadcrumb-item active h5 text-light">Categories</li>
    </ol>
  </nav>
</div><!-- End Page Title -->
<div class="row m-5 justify-content-center">
  {% for category in categories %}
  <div class="card text-center col-md-3 m-1">
    <div class="card-body">
      <a href="{% url 'view_news' category=category %}" class="text-dark"><h5 class="card-title">{{category|upper}}</h5></a>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}