{% extends "./user_base.html" %}
{% load custom_tags %}
{% load static %}

{% block title %}
Favourites
{% endblock %}


{% block content %}
<div class="pagetitle pt-3">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item h5 text-dark"><i class="bi bi-star-fill" style="color: yellow; font-size: 15px; margin-right: 5px;"></i><a>Favourites</a></i></li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <div class="card-deck col-md-12 justify-content-center">
    {% for fav in favourites %}
    <div class="card col-md-3" style="border: 1px solid #212121;">
      <div class="card-header text-center ">{{fav.title}}
      </div>
      <div class="card-footer text-center">
        <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
        <a href="{{fav.url}}" class="card-link text-muted" target="_blank">Read</a>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}