{% extends "./user_base2.html" %}
{% load custom_tags %}

{% block title %}
foryou
{% endblock %}


{% block content %}
<style>
  h1 {
    text-align: center;
    font-family: "Candara", sans-serif;
  }

  .container {
    height: 200px;
    position: relative;
  }

  .center {
    position: absolute;
    top: 150%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: "Candara", sans-serif;
  }

  .btn1 {
    padding: 1.1em 2em;
    background: none;
    border: 2px solid #fff;
    font-size: 15px;
    color: #131313;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: #ffffff;
    font-weight: bolder;
    box-shadow: 0 2px 0 2px #000;
  }

  .btn1:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: #ff6700;
    top: 50%;
    transform: skewX(30deg) translate(-150%, -50%);
    transition: all 0.5s;
  }

  .btn1:hover {
    background-color: #000000;
    color: #fff;
    box-shadow: 0 2px 0 2px #000000;
  }

  .btn1:hover::before {
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
  }

  .btn1:active {
    transform: scale(0.9);
  }

  .btn-a {
    text-decoration: none !important;
    color: inherit !important;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 2em;
    margin: -2em;
  }

  /* FAV */

  .star {
    visibility: hidden;
    font-size: 20px;
    cursor: pointer;
    margin-left: 95%;
    transform: translateY(-250%);
  }

  .star:before {
    content: "\2605";
    position: absolute;
    visibility: visible;
    color: gold;
    fill: gold;
  }

  .star:checked:before {
    content: "\2606";
    position: absolute;

  }

  /* card */
  .cards {
    padding-top: 1%;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    padding-bottom: 1%;
  }  

  .card {
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    width: 140%;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  }


  .card__info {
    z-index: 2;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 24px 24px 24px;
  }

  .card__category {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #868686;
  }

  .card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
  }

  .card__by {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
  }

  .card__author {
    font-weight: 600;
    text-decoration: none;
    color: #AD7D52;
  }
  /* more */
  .double-arrow-btn {
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    color: #000000;
    font-size: 20px;
    padding-top: 20%;
    padding: 5px 10px;
    margin-top: 20px;
  }

  .double-arrow-btn:focus {
    outline: none;
    border: none;
  }

  .button-container {
    margin-top: 150px;
    padding-left: 50px;
  }

</style>
{% for category, articles in news.items %}
<div class="pagetitle pt-3">
  <nav style="background-color: #ffffff;">
    <ol class="breadcrumb" style="background-color: #ffffff;">
      <li class="breadcrumb-item h5 text-dark" style="font-family: 'Roboto Slab', serif; font-size: x-large;"><a>News</a></li>
      <li class="breadcrumb-item active h5" style="color: #aa5e07; font-family: 'Roboto Slab', serif; font-size: x-large;">{{category}}</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<div class="row col-md-12">
  {% for article in articles %}
  <div class="cards col-md-4">
    <div class="card card--1">
      <div class="card__info">
        <span class="card__category" style="color: rgb(11, 104, 99);"> {{article.publisher.title}}</span>
        <input class="star" data-title="{{article.title}}" data-url="{{article.url}}" type="checkbox" onclick="favourite(this)" checked>
        <h3 class="card__title">{{article.title}}</h3>
        <a class="card__title">{% trim_desc article.description %}</a>
        <a href="{{article.url}}" class="card-link text-muted" target="_blank"><strong>Read More</strong> </a>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="button-container">
    <a href="{% url 'fy' %}">
      <button class="double-arrow-btn">
        >>
      </button>
    </a>
  </div>
</div>
</hr>

{% endfor %}


<script>
  function favourite(data){
    var title = data.getAttribute("data-title");
    var url = data.getAttribute("data-url");

    post_data = {
      csrfmiddlewaretoken: "{{ csrf_token }}",
      title: title,
      url: url,
    }

    $.ajax({
      type: 'POST',
      url: "{% url 'set_favourite' %}",
      data: post_data
    })
  }
</script>
{% endblock %}