{% extends "./user_base.html" %}
{% load custom_tags %}

{% block title %}
foryou
{% endblock %}


{% block content %}
<style>
.card {
  width: 400px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 17px;
  text-align: center;
  font-size: 18px;
}

.body {
  padding: 20px;
}

.metal {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.metal-name {
  width: 120px;
  font-size: 16px;
}

.metal-level {
  width: 160px;
  height: 10px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 20px;
}

.metal-percent {
  background-color: #333;
  height: 100%;
}

.metal-percent-number {
  margin-left: 20px;
  font-size: 16px;
}


</style>

<div class="row col-md-12 justify-content-center">
  {% for metal, price in metal_prices.items %}
    <div class="card m-3">
        <div class="header">{{metal}}</div>
        <div class="body">
            <div class="metal">
                <div class="metal-name">Today's Price:</div><br>
                <div class="metal-name">1 gram: {{price}}</div><br>
                <div class="metal-name">8 gram: {% widthratio price 1 8 %}</div>
                <div class="metal-percent-number"></div>
            </div>
        </div>
    </div>
  {% endfor %}
</div>




{% endblock %}