{% extends "./user_base.html" %}
{% load custom_tags %}

{% block title %}
foryou
{% endblock %}


{% block content %}
<style>
    /* FAV */
  
    .star {
      visibility: hidden;
      font-size: 20px;
      cursor: pointer;
    }
  
    .star:before {
      content: "\2605";
      position: absolute;
      visibility: visible;
      color: gold;
      fill: gold;
    }
  
    .star:checked:before {
      content: "\2606";
      position: absolute;
  
    }
  </style>
<div class="pagetitle pt-3">
  <nav style="background-color: #212121;">
    <ol class="breadcrumb" style="background-color: #212121;">
      <li class="breadcrumb-item h5 text-secondary"><a>News</a></li>
      <li class="breadcrumb-item active h5 text-light">{{category}}</li>
    </ol>
  </nav>
</div><!-- End Page Title -->
<div class="row col-md-12 justify-content-center">
  {% for article in news %}
  <div class="card col-md-2 m-2" style="border: 1px solid #212121;">
    <div class="card-header text-center">{{article.publisher.title}}
      <div>
        <input class="star" data-title="{{article.title}}" data-url="{{article.url}}" type="checkbox" onclick="favourite(this)" checked>
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title font-weight-bold">{{article.title}}</h5>
      <p class="card-text">{% trim_desc article.description %}</p>
    </div>
    <div class="card-footer text-center">
      <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
      <a href="{{article.url}}" class="card-link text-muted" target="_blank">Read More</a>
    </div>
  </div>
  <!-- <div class="card" style="width: 18rem; border: 1px solid grey;">
        <div class="card-body">
          <h5 class="card-title">{{article.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted"><a href="{{article.publisher.href}}" class="card-link">{{article.publisher.title}}</a></h6>
          <p class="card-text">{{article.description}}</p>
          <a href="{{article.url}}" class="card-link">Read More</a>
        </div>
      </div> -->
  {% endfor %}
</div>
</hr>
<script>
  function favourite(data){
    var title = data.getAttribute("data-title");
    var url = data.getAttribute("data-url");

    post_data = {
      csrfmiddlewaretoken: "{{ csrf_token }}",
      title: title,
      url: url,
    }

    $.ajax({
      type: 'POST',
      url: "{% url 'set_favourite' %}",
      data: post_data
    })
  }
</script>
{% endblock %}