{% extends "./admin_base.html" %}
{% load static %}
{% load custom_tags %}
{% block title %}
Feedbacks
{% endblock %}
{% block content %}
<div class="modal fade" id="delete-conf-modal" tabindex="-1" aria-labelledby="delete-conf-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Feedback?</h5>
            </div>
            <div class="modal-body">
                <form action="{% url 'delete_feedback' %}" method="post">
                    {% csrf_token %}
                    <h6>Are you sure you want to delete the Feedback?</h6>
                    <input type="hidden" name="feedback_id" id="feedback_id">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary btn-danger" name="delete-user">Delete</button>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="view-data m-4">
    <h3>View / Edit Feedback</h3>
    <hr>
    <table id="table_data" class="table table-striped w-100" style="width:100%">
        <thead>
            <tr>
                <th hidden>Id</th>
                <th>Name</th>
                <th>Rating</th>
                <th>Comment</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>

        <tbody>
            {% for feedback in feedbacks %}
            <tr>
                <td hidden>{{feedback.id}}</td>
                <td>{{feedback.name}}</td>
                <td>{{feedback.rating}}</td>
                <td>{{feedback.feedback}}</td>
                <td>
                    <div class="d-flex justify-content-center align-items-center">
                        <button class="btn btn-danger delete-btn p-2 me-2" data-toggle="modal"
                            data-target="#delete-conf-modal"><i class="bi bi-trash"></i></button>

                    </div>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

    <body>
</div>
</main>

<script>
    $(document).ready(function () {
        $('#table_data').DataTable();
    });

    $(document).on('click', '.delete-btn', function () {

        $tr = $(this).closest('tr');

        var data = $tr.children("td").map(function () {
            return $(this).text();
        }).get();

        $('#feedback_id').val(data[0]);


    });

</script>
{% endblock %}